Repository mthomas46/Hackathon: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-ports, validate-env, validate-scripts, validate-dockerfiles

validate-ports:
  name: Validate port configurations
  description: Validate Docker port configurations
  entry: python3 scripts/hardening/docker_standardization.py
  language: system
  pass_filenames: false

validate-env:
  name: Validate environment variables
  description: Validate environment variable configurations
  entry: python3 scripts/hardening/environment_validator.py
  language: system
  pass_filenames: false

validate-scripts:
  name: Validate custom scripts
  description: Validate our hardening scripts syntax
  entry: python3 -m py_compile
  language: system
  pass_filenames: true

validate-dockerfiles:
  name: Validate Dockerfiles
  description: Validate Dockerfile configurations
  entry: python3 scripts/hardening/dockerfile_validator.py
  language: system
  pass_filenames: false

Complete docs directory cleanup, consolidation, and organization
  docs/README.md
  docs/config/CONFIGURATION_ECOSYSTEM_FULLY_STANDARDIZED.md
  docs/config/CONFIGURATION_GOVERNANCE.md
  docs/config/CONFIGURATION_MANAGEMENT.md
  docs/config/CONFIGURATION_NEXT_STEPS_ROADMAP.md
  docs/config/CONFIGURATION_STANDARDIZATION_COMPLETE.md
  docs/config/CONFIGURATION_STANDARDIZATION_SUMMARY.md
  docs/config/CONFIGURATION_STANDARDS_QUICK_REFERENCE.md
  docs/config/README.md
  docs/docker/DOCKER_STANDARDIZATION_UNIFICATION.md
  docs/docker/DOCKER_VALIDATION_INTEGRATION.md
  docs/docker/README.md
  docs/infrastructure/INFRASTRUCTURE_SETUP.md
  docs/infrastructure/MAKEFILE_STANDARDIZATION_COMPLETE.md
  docs/infrastructure/PYDANTIC_INTEGRATION_PLAN.md
  docs/infrastructure/README.md
  docs/integrations/README.md
  docs/integrations/langgraph-integration-plan.md
  docs/reference/API_SCHEMA_STANDARDS.md
  docs/reports/audit/DISCOVERY_AGENT_ENHANCEMENT_COMPLETE.md
  docs/reports/audit/DISCOVERY_AGENT_EXPANSION_PLAN.md
  docs/reports/audit/DISCOVERY_INTEGRATION_DEMO.md
  docs/reports/code-quality/CODE_CONSOLIDATION_AUDIT.md
  docs/reports/code-quality/CODE_REFACTORING_AUDIT.md
  docs/reports/infrastructure/DOCUMENT_PERSISTENCE_SUCCESS_SUMMARY.md
  docs/workflow/README.md
  docs/workflow/pr_confidence_analysis_workflow_plan.md
  docs/workflow/pr_confidence_simulation_readiness.md
  docs/workflow/standardized_development_workflows.md
  docs/workflow/workflow_ecosystem_summary.md
  docs/workflow/workflow_implementation_roadmap.md
  docs/workflow/workflow_orchestration_framework.md
Due: none

Create comprehensive README files for all docs subdirectories
  docs/achievements/README.md
  docs/analysis/README.md
  docs/audit/README.md
  docs/ci-cd/README.md
  docs/cli/README.md
  docs/deployment/README.md
  docs/ecosystem/README.md
  docs/migration/README.md
  docs/project-simulation/README.md
  docs/security/README.md
Due: none

Update all Makefile references to use new makefiles/ directory structure
  Makefile
  README.md
  docs/ci-cd/audit-integration.md
  docs/deployment/BULLETPROOF_SYSTEM_GUIDE.md
  docs/guides/QUICK_REFERENCE_GUIDES.md
  docs/guides/TROUBLESHOOTING_INDEX.md
  scripts/cicd/README.md
  scripts/docker/README.md
Due: none

Tune all validators and config auditors to respect current Docker deployment
  scripts/docker/validate-deployment.sh
  scripts/hardening/docker_compose_validator.py
  scripts/hardening/validation/production_readiness_validator.py
Due: validate-scripts

Fix Pydantic configuration settings to match current Docker deployment
  services/cli/config.yaml
  services/code-analyzer/config.yaml
  services/doc_store/config.yaml
  services/github-mcp/config.yaml
  services/interpreter/config.yaml
  services/memory-agent/config.yaml
  services/notification-service/config.yaml
  services/ollama/config.yaml
  services/project-planning-service/config.yaml
  services/redis/config.yaml
  services/source-agent/config.yaml
  services/summarizer-hub/config.yaml
Due: none

Complete Pydantic ServiceDependencies configuration for all Docker services
  services/shared/infrastructure/config/pydantic_config.py
Due: none

Fix production readiness validator inconsistencies for current Docker deployment
  configuration_audit_results.json
  connectivity_validation_report.json
  deployment-validation-20251002-011611.md
  deployment-validation-20251002-011654.md
  production_readiness_report.json
  scripts/hardening/validation/production_readiness_validator.py
Due: validate-scripts

Fix production readiness validator inconsistencies and connectivity issues
  production_readiness_report.json
  scripts/hardening/validation/production_readiness_validator.py
Due: validate-scripts

Fix service connectivity issues in production readiness validation
  docker-compose.dev.yml
  services/discovery-agent/config.yaml
  services/llm-gateway/main.py
  services/prompt_store/main.py
Due: validate-ports, validate-env

Achieve 100% production readiness - fix final API error handling issue
  configuration_audit_results.json
  deployment-validation-20251002-013759.md
  production_readiness_report.json
  scripts/hardening/validation/production_readiness_validator.py
Due: validate-scripts

Expand validation to check full ecosystem - Achieve 100% Production Readiness
  production_readiness_report.json
  scripts/hardening/validation/production_readiness_validator.py
Due: validate-scripts

Add comprehensive port mapping and health check validation
  production_readiness_report.json
  scripts/hardening/validation/production_readiness_validator.py
Due: validate-scripts

🎉 Achieve 100% Service Health - Complete Production Readiness
  docker-compose.dev.yml
  production_readiness_report.json
  services/code-analyzer/main.py
  services/frontend/main.py
  services/simulation-dashboard/Dockerfile
  services/simulation-dashboard/main.py
  services/simulation_dashboard/main.py
Due: validate-ports, validate-env, validate-dockerfiles

🚀 Complete Meta-Orchestrator Log-Collector Integration & Networking Analysis
  docker-compose.dev.yml
  services/meta-orchestrator/main.py
  services/meta-orchestrator/monitoring/audit/config_standardizer.py
  services/meta-orchestrator/monitoring/config_manager.py
  services/meta-orchestrator/requirements.txt
  test_log_collector_integration.py
Due: validate-ports, validate-env

feat: implement advanced network optimization across ecosystem
  docker-compose.dev.yml
  scripts/hardening/validation/production_readiness_validator.py
  services/analysis-service/config.yaml
  services/frontend/config.yaml
  services/llm-gateway/config.yaml
  services/meta-orchestrator/monitoring/service.py
  services/orchestrator/config.yaml
  services/shared/config.yaml
  services/summarizer-hub/config.yaml
Due: validate-ports, validate-env, validate-scripts

feat: Enhanced Roadmap v2.0 with comprehensive testing & full ecosystem integration
  COMPLETE_AUDIT_SUMMARY.md
  COMPLETE_DELIVERY_INDEX.md
  IMPLEMENTATION_KICKOFF_SUMMARY.md
  PHASE1_IMPLEMENTATION_GUIDE.md
  PLAN_COMPARISON_V1_VS_V2.md
  docs/COMPREHENSIVE_TESTING_AND_ECOSYSTEM_GUIDE_V2.md
  docs/ENHANCED_FEATURE_DEVELOPMENT_ROADMAP_V2.md
  docs/FINAL_ENHANCED_IMPLEMENTATION_PLAN_V2.md
  docs/TECHNICAL_IMPLEMENTATION_GUIDE_V2.md
  services/shared/infrastructure/logging/workflow_logger.py
  tests/unit/shared/test_workflow_logger.py
Due: none

test: Fix integration tests for /natural-query endpoint - 100% pass rate
  PHASE1_DAY2_COMPLETION_REPORT.md
  services/interpreter/tests/integration/test_natural_query_endpoint.py
Due: none

docs: Phase 1 Day 2 completion - comprehensive tracking updates
  CURRENT_SESSION_PROGRESS.md
  PHASE1_IMPLEMENTATION_GUIDE.md
  PHASE1_PROGRESS_TRACKER.md
Due: none

Path conditions:
  validate-ports: any of: docker-compose.*\.yml$, but not: (?x)^(
    \.git/
  | __pycache__/
  | \.pytest_cache/
  | build/
  | dist/
  | \.venv/
  | venv/
  | env/
  | \.tox/
  | \.eggs/
  | \.cache/
  | \.mypy_cache/
  | \.DS_Store
  | \.vscode/
  | \.idea/
  | ecosystem_audit_results\.json
  | dockerfile_analysis_report\.json
  | port_analysis_report\.json
  | environment_analysis_report\.json
  | dependency_graph\.json
  | .*report\.md$
  | .*report\.txt$
  | .*\.sh$
)$

  validate-env: any of: docker-compose.*\.yml$, but not: (?x)^(
    \.git/
  | __pycache__/
  | \.pytest_cache/
  | build/
  | dist/
  | \.venv/
  | venv/
  | env/
  | \.tox/
  | \.eggs/
  | \.cache/
  | \.mypy_cache/
  | \.DS_Store
  | \.vscode/
  | \.idea/
  | ecosystem_audit_results\.json
  | dockerfile_analysis_report\.json
  | port_analysis_report\.json
  | environment_analysis_report\.json
  | dependency_graph\.json
  | .*report\.md$
  | .*report\.txt$
  | .*\.sh$
)$

  validate-scripts: any of: scripts/hardening/.*\.py$, but not: (?x)^(
    \.git/
  | __pycache__/
  | \.pytest_cache/
  | build/
  | dist/
  | \.venv/
  | venv/
  | env/
  | \.tox/
  | \.eggs/
  | \.cache/
  | \.mypy_cache/
  | \.DS_Store
  | \.vscode/
  | \.idea/
  | ecosystem_audit_results\.json
  | dockerfile_analysis_report\.json
  | port_analysis_report\.json
  | environment_analysis_report\.json
  | dependency_graph\.json
  | .*report\.md$
  | .*report\.txt$
  | .*\.sh$
)$

  validate-dockerfiles: any of: Dockerfile$, but not: (?x)^(
    \.git/
  | __pycache__/
  | \.pytest_cache/
  | build/
  | dist/
  | \.venv/
  | venv/
  | env/
  | \.tox/
  | \.eggs/
  | \.cache/
  | \.mypy_cache/
  | \.DS_Store
  | \.vscode/
  | \.idea/
  | ecosystem_audit_results\.json
  | dockerfile_analysis_report\.json
  | port_analysis_report\.json
  | environment_analysis_report\.json
  | dependency_graph\.json
  | .*report\.md$
  | .*report\.txt$
  | .*\.sh$
)$

