Repository mthomas46/Hackathon: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-ports, validate-env, validate-scripts, validate-dockerfiles

Path conditions:
  validate-ports: any of: docker-compose.*\.yml$, but not: (?x)^(
    \.git/
  | __pycache__/
  | \.pytest_cache/
  | build/
  | dist/
  | \.venv/
  | venv/
  | env/
  | \.tox/
  | \.eggs/
  | \.cache/
  | \.mypy_cache/
  | \.DS_Store
  | \.vscode/
  | \.idea/
  | ecosystem_audit_results\.json
  | dockerfile_analysis_report\.json
  | port_analysis_report\.json
  | environment_analysis_report\.json
  | dependency_graph\.json
  | .*report\.md$
  | .*report\.txt$
  | .*\.sh$
)$

  validate-env: any of: docker-compose.*\.yml$, but not: (?x)^(
    \.git/
  | __pycache__/
  | \.pytest_cache/
  | build/
  | dist/
  | \.venv/
  | venv/
  | env/
  | \.tox/
  | \.eggs/
  | \.cache/
  | \.mypy_cache/
  | \.DS_Store
  | \.vscode/
  | \.idea/
  | ecosystem_audit_results\.json
  | dockerfile_analysis_report\.json
  | port_analysis_report\.json
  | environment_analysis_report\.json
  | dependency_graph\.json
  | .*report\.md$
  | .*report\.txt$
  | .*\.sh$
)$

  validate-scripts: any of: scripts/hardening/.*\.py$, but not: (?x)^(
    \.git/
  | __pycache__/
  | \.pytest_cache/
  | build/
  | dist/
  | \.venv/
  | venv/
  | env/
  | \.tox/
  | \.eggs/
  | \.cache/
  | \.mypy_cache/
  | \.DS_Store
  | \.vscode/
  | \.idea/
  | ecosystem_audit_results\.json
  | dockerfile_analysis_report\.json
  | port_analysis_report\.json
  | environment_analysis_report\.json
  | dependency_graph\.json
  | .*report\.md$
  | .*report\.txt$
  | .*\.sh$
)$

  validate-dockerfiles: any of: Dockerfile$, but not: (?x)^(
    \.git/
  | __pycache__/
  | \.pytest_cache/
  | build/
  | dist/
  | \.venv/
  | venv/
  | env/
  | \.tox/
  | \.eggs/
  | \.cache/
  | \.mypy_cache/
  | \.DS_Store
  | \.vscode/
  | \.idea/
  | ecosystem_audit_results\.json
  | dockerfile_analysis_report\.json
  | port_analysis_report\.json
  | environment_analysis_report\.json
  | dependency_graph\.json
  | .*report\.md$
  | .*report\.txt$
  | .*\.sh$
)$


cleanup: Remove outdated generated report files
  reports/document_dump_analysis_dump_20250919_074423.md
  reports/summarizer_analysis_results_20250919_074423.md
  reports/summarizer_capabilities_20250919_074423.md
  reports/summarizer_health_status_20250919_074423.md
  reports/workflow_summary_report_20250919_073658.md
  reports/workflow_summary_report_20250919_074423.md
Due: none

feat: Implement ecosystem-wide logging infrastructure with log collector integration
  docker-compose.dev.yml
  services/log-collector/main.py
  services/shared/infrastructure/logging/standardized_logger.py
Due: validate-ports, validate-env

feat: Add comprehensive service health monitoring infrastructure to log-collector
  docker-compose.dev.yml
  services/log-collector/main.py
Due: validate-ports, validate-env

feat: Implement StandardizedLogger adoption across core services
  services/analysis-service/main.py
  services/doc_store/main.py
  services/orchestrator/main.py
Due: none

feat: Implement Phase 1 of logging infrastructure improvements
  config/service-ports.yaml
  docker-compose.dev.yml
  services/project-planning-service/Dockerfile
  services/project-planning-service/__init__.py
  services/project-planning-service/domain/__init__.py
  services/project-planning-service/domain/entities/feature.py
  services/project-planning-service/domain/entities/roadmap.py
  services/project-planning-service/domain/entities/task.py
  services/project-planning-service/domain/services/feature_planning_service.py
  services/project-planning-service/main.py
  services/project-planning-service/requirements.txt
Due: validate-ports, validate-env, validate-dockerfiles

feat: Implement Phase 2 - Expand Service Coverage for StandardizedLogger
  docker-compose.dev.yml
Due: validate-ports, validate-env

feat: Implement Phase 2 - Log Rotation and Advanced Filtering
  services/log-collector/main.py
  services/log-collector/modules/log_storage.py
Due: none

feat: Implement unified configuration management system and fix service health
  config/service-discovery.json
  config/service-ports.env.template
  config/service-ports.yaml
  configuration_management_report.json
  deployment_configuration_analysis.json
  docker-compose.dev.yml
  scripts/hardening/analyze_deployment_configurations.py
  scripts/hardening/apply_config_standardization.py
  scripts/hardening/configuration_management_system.py
  scripts/hardening/validate_service_configs.py
  services/analysis-service/main.py
  services/analysis-service/modules/__init__.py
  services/analysis-service/modules/handlers/base_handler.py
  services/analysis-service/modules/models/__init__.py
  services/architecture-digitizer/main.py
  services/github-mcp/main.py
  services/log-collector/main.py
  services/orchestrator/infrastructure/__init__.py
  services/orchestrator/main.py
  services/secure-analyzer/main.py
Due: validate-ports, validate-env, validate-scripts

Clean up scripts directory - remove deprecated and outdated scripts
  scripts/DEPRECATED.md
  scripts/README.md
  scripts/async/async_job_processor.py
  scripts/async/async_optimizer.py
  scripts/async/message_queue.py
  scripts/async/task_scheduler.py
  scripts/demo/README.md
  scripts/demo/cli_expansion_demo.py
  scripts/demo/demo_complete_system.py
  scripts/demo/demo_interactive_cli.py
  scripts/demo/demo_phase3_interactive.py
  scripts/demo/demo_phase4_phase5_enhancements.py
  scripts/demo/demo_refactored_architecture.py
  scripts/demo/demo_service_health.py
  scripts/demo/demo_workflow.py
  scripts/demo/demo_workflow_management.py
  scripts/demo/working_power_user_demo.py
  scripts/discovery_agent_test_current_functionality.py
  scripts/docker/docker-compose-enhanced.yml
  scripts/docker/validate-deployment.sh
  scripts/final_document_persistence_proof.py
  scripts/hardening/docker_compose_validator.py
  scripts/integration/test_phase2_focused.py
  scripts/integration/test_phase2_implementation.py
  scripts/integration/test_phase2_simple.py
  scripts/migration/README.md
  scripts/migration/create_ddd_migration.py
  scripts/migration/create_ddd_schema_migrations.py
  scripts/migration/generate_ddd_migrations_simple.py
  scripts/migration/migrate_existing_data.py
  scripts/orchestrator_discovery_integration_demo.py
  scripts/phase2_comprehensive_discovery.py
  scripts/phase4_security_scanning.py
  scripts/phase5_monitoring_observability.py
  scripts/proof_orchestrator_registration_capability.py
Due: validate-ports, validate-env, validate-scripts

Clean up all script subdirectories - remove duplicates and deprecated scripts
  scripts/cli/test_cli_simple.py
  scripts/ecosystem/ecosystem_api_audit.py
  scripts/hardening/pydantic_integration_demo.py.deprecated
  scripts/performance/caching_optimizer.py.deprecated
  scripts/startup/start_all_services.py
  scripts/test/test_cli_analysis_service.py.deprecated
  scripts/testing/README_deprecated.md
Due: none

Update DEPRECATED.md with subdirectory cleanup details
  scripts/DEPRECATED.md
Due: none

Final scripts directory cleanup - remove deprecated files and add comprehensive READMEs
  scripts/DEPRECATED.md
  scripts/cicd/README.md
  scripts/docker/README.md
  scripts/hardening/pydantic_integration_demo.py
  scripts/hardening/pydantic_integration_demo.py.deprecated
  scripts/monitoring/README.md
  scripts/performance/caching_optimizer.py
  scripts/performance/caching_optimizer.py.deprecated
  scripts/safeguards/README.md
  scripts/test/test_cli_analysis_service.py
  scripts/test/test_cli_analysis_service.py.deprecated
  scripts/testing/README.md
  scripts/testing/README_deprecated.md
  scripts/verification/README.md
Due: validate-scripts

Enhance script READMEs with detailed descriptions and use cases
  scripts/cicd/README.md
  scripts/cli/README.md
  scripts/docker/README.md
  scripts/ecosystem/README.md
  scripts/hardening/README.md
  scripts/monitoring/README.md
  scripts/safeguards/README.md
  scripts/startup/README.md
  scripts/testing/README.md
  scripts/utilities/README.md
  scripts/verification/README.md
Due: none

Complete README enhancements for all script directories
  scripts/docs/README.md
  scripts/integration/README.md
  scripts/services/README.md
  scripts/validation/README.md
Due: none

Complete audit, consolidation, and README enhancement of integration directory
  scripts/integration/README.md
  scripts/integration/analysis/README.md
  scripts/integration/analysis/test_content_quality.py
  scripts/integration/analysis/test_maintenance_forecasting.py
  scripts/integration/analysis/test_peer_review_enhancement.py
  scripts/integration/analysis/test_quality_degradation_detection.py
  scripts/integration/analysis/test_risk_assessment.py
  scripts/integration/analysis/test_sentiment_analysis.py
  scripts/integration/analysis/test_summarizer_categorization.py
  scripts/integration/analysis/test_trend_analysis.py
  scripts/integration/analysis/test_workflow_triggered_analysis.py
  scripts/integration/communication/README.md
  scripts/integration/communication/test_event_streaming.py
  scripts/integration/communication/test_inter_service_communication.py
  scripts/integration/communication/test_redis_event_emission.py
  scripts/integration/communication/test_service_mesh.py
  scripts/integration/docker/README.md
  scripts/integration/docker/comprehensive_docker_test.py
  scripts/integration/docker/test_docker_services.py
  scripts/integration/enterprise/README.md
  scripts/integration/enterprise/test_automated_remediation.py
  scripts/integration/enterprise/test_change_impact_analysis.py
  scripts/integration/enterprise/test_enterprise_error_handling.py
  scripts/integration/orchestrator/README.md
  scripts/integration/orchestrator/orchestrator_standalone_simple.py
  scripts/integration/orchestrator/test_orchestrator_minimal.py
  scripts/integration/orchestrator/test_orchestrator_simple.py
  scripts/integration/utilities/README.md
  scripts/integration/utilities/benchmark_prompt_store.py
  scripts/integration/utilities/run_sanity_tests.py
  scripts/integration/utilities/test_interactive_cli.py
  scripts/integration/workflows/README.md
  scripts/integration/workflows/test_full_integration.py
  scripts/integration/workflows/test_workflow_management.py
Due: none
