Repository mthomas46/Hackathon: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-ports, validate-env, validate-scripts, validate-dockerfiles

Path conditions:
  validate-ports: any of: docker-compose.*\.yml$, but not: (?x)^(
    \.git/
  | __pycache__/
  | \.pytest_cache/
  | build/
  | dist/
  | \.venv/
  | venv/
  | env/
  | \.tox/
  | \.eggs/
  | \.cache/
  | \.mypy_cache/
  | \.DS_Store
  | \.vscode/
  | \.idea/
  | ecosystem_audit_results\.json
  | dockerfile_analysis_report\.json
  | port_analysis_report\.json
  | environment_analysis_report\.json
  | dependency_graph\.json
  | .*report\.md$
  | .*report\.txt$
  | .*\.sh$
)$

  validate-env: any of: docker-compose.*\.yml$, but not: (?x)^(
    \.git/
  | __pycache__/
  | \.pytest_cache/
  | build/
  | dist/
  | \.venv/
  | venv/
  | env/
  | \.tox/
  | \.eggs/
  | \.cache/
  | \.mypy_cache/
  | \.DS_Store
  | \.vscode/
  | \.idea/
  | ecosystem_audit_results\.json
  | dockerfile_analysis_report\.json
  | port_analysis_report\.json
  | environment_analysis_report\.json
  | dependency_graph\.json
  | .*report\.md$
  | .*report\.txt$
  | .*\.sh$
)$

  validate-scripts: any of: scripts/hardening/.*\.py$, but not: (?x)^(
    \.git/
  | __pycache__/
  | \.pytest_cache/
  | build/
  | dist/
  | \.venv/
  | venv/
  | env/
  | \.tox/
  | \.eggs/
  | \.cache/
  | \.mypy_cache/
  | \.DS_Store
  | \.vscode/
  | \.idea/
  | ecosystem_audit_results\.json
  | dockerfile_analysis_report\.json
  | port_analysis_report\.json
  | environment_analysis_report\.json
  | dependency_graph\.json
  | .*report\.md$
  | .*report\.txt$
  | .*\.sh$
)$

  validate-dockerfiles: any of: Dockerfile$, but not: (?x)^(
    \.git/
  | __pycache__/
  | \.pytest_cache/
  | build/
  | dist/
  | \.venv/
  | venv/
  | env/
  | \.tox/
  | \.eggs/
  | \.cache/
  | \.mypy_cache/
  | \.DS_Store
  | \.vscode/
  | \.idea/
  | ecosystem_audit_results\.json
  | dockerfile_analysis_report\.json
  | port_analysis_report\.json
  | environment_analysis_report\.json
  | dependency_graph\.json
  | .*report\.md$
  | .*report\.txt$
  | .*\.sh$
)$


docs(mcp-gateway): Add progress summary
  services/mcp-gateway/PROGRESS_SUMMARY.md
Due: none

feat(mcp-gateway): Complete application layer use cases
  services/mcp-gateway/application/use_cases/__init__.py
  services/mcp-gateway/application/use_cases/deregister_instance_use_case.py
  services/mcp-gateway/application/use_cases/get_available_instances_use_case.py
  services/mcp-gateway/application/use_cases/register_instance_use_case.py
  services/mcp-gateway/application/use_cases/route_request_use_case.py
  services/mcp-gateway/application/use_cases/update_health_use_case.py
Due: none

feat(mcp-gateway): Add infrastructure configuration and Redis repository
  services/mcp-gateway/infrastructure/__init__.py
  services/mcp-gateway/infrastructure/config/__init__.py
  services/mcp-gateway/infrastructure/config/settings.py
  services/mcp-gateway/infrastructure/repositories/__init__.py
  services/mcp-gateway/infrastructure/repositories/redis_mcp_registry_repository.py
Due: none

feat(mcp-gateway): Add health checker and HTTP client with circuit breaker
  services/mcp-gateway/infrastructure/health/__init__.py
  services/mcp-gateway/infrastructure/health/health_checker.py
  services/mcp-gateway/infrastructure/http/__init__.py
  services/mcp-gateway/infrastructure/http/mcp_http_client.py
Due: none

feat(mcp-gateway): Add Pydantic API models
  services/mcp-gateway/presentation/__init__.py
  services/mcp-gateway/presentation/api/__init__.py
  services/mcp-gateway/presentation/api/models/__init__.py
  services/mcp-gateway/presentation/api/models/requests.py
  services/mcp-gateway/presentation/api/models/responses.py
Due: none

feat(mcp-gateway): Complete presentation layer with FastAPI routes and main app
  services/mcp-gateway/main.py
  services/mcp-gateway/presentation/api/routes/__init__.py
  services/mcp-gateway/presentation/api/routes/gateway.py
  services/mcp-gateway/presentation/api/routes/health.py
  services/mcp-gateway/presentation/dependencies.py
Due: none

feat(mcp-gateway): Add Dockerfile, .env.example, and comprehensive README
  services/mcp-gateway/Dockerfile
  services/mcp-gateway/README.md
Due: validate-dockerfiles

feat(mcp-gateway): Add to docker-compose.dev.yml - COMPLETE! ✅
  docker-compose.dev.yml
Due: validate-ports, validate-env

test(mcp-gateway): Add comprehensive unit tests for domain layer
  services/mcp-gateway/tests/__init__.py
  services/mcp-gateway/tests/conftest.py
  services/mcp-gateway/tests/unit/__init__.py
  services/mcp-gateway/tests/unit/domain/__init__.py
  services/mcp-gateway/tests/unit/domain/test_mcp_instance.py
Due: none

feat(mcp-interpreter): Initialize MCP Interpreter service structure
  services/mcp-interpreter/__init__.py
  services/mcp-interpreter/domain/__init__.py
  services/mcp-interpreter/domain/value_objects/__init__.py
  services/mcp-interpreter/domain/value_objects/query_intent.py
  services/mcp-interpreter/requirements.txt
Due: none

docs: Add comprehensive MCP services testing and validation plan
  MCP_SERVICES_TEST_PLAN.md
Due: none

feat(mcp-interpreter): Add complete value objects for domain layer
  services/mcp-interpreter/domain/value_objects/confidence_level.py
  services/mcp-interpreter/domain/value_objects/entity_type.py
  services/mcp-interpreter/domain/value_objects/mcp_tier.py
Due: none

feat(mcp-interpreter): Add domain entities (ExtractedEntity, ParsedQuery)
  services/mcp-interpreter/domain/entities/__init__.py
  services/mcp-interpreter/domain/entities/extracted_entity.py
  services/mcp-interpreter/domain/entities/parsed_query.py
Due: none

feat(mcp-interpreter): Add repository interface and application DTOs
  services/mcp-interpreter/application/__init__.py
  services/mcp-interpreter/application/dto/__init__.py
  services/mcp-interpreter/application/dto/parse_query_request.py
  services/mcp-interpreter/application/dto/parsed_query_response.py
  services/mcp-interpreter/domain/repositories/__init__.py
  services/mcp-interpreter/domain/repositories/query_cache_repository.py
Due: none

feat(mcp-interpreter): Add core ParseQueryUseCase
  services/mcp-interpreter/application/use_cases/__init__.py
  services/mcp-interpreter/application/use_cases/parse_query_use_case.py
Due: none

feat(mcp-interpreter): Add infrastructure layer (Settings + Redis repository)
  services/mcp-interpreter/infrastructure/__init__.py
  services/mcp-interpreter/infrastructure/config/__init__.py
  services/mcp-interpreter/infrastructure/config/settings.py
  services/mcp-interpreter/infrastructure/repositories/__init__.py
  services/mcp-interpreter/infrastructure/repositories/redis_query_cache_repository.py
Due: none

feat(mcp-interpreter): Complete presentation layer with FastAPI
  services/mcp-interpreter/main.py
  services/mcp-interpreter/presentation/__init__.py
  services/mcp-interpreter/presentation/api/__init__.py
  services/mcp-interpreter/presentation/api/models/__init__.py
  services/mcp-interpreter/presentation/api/models/requests.py
  services/mcp-interpreter/presentation/api/models/responses.py
  services/mcp-interpreter/presentation/api/routes/__init__.py
  services/mcp-interpreter/presentation/api/routes/health.py
  services/mcp-interpreter/presentation/api/routes/interpreter.py
  services/mcp-interpreter/presentation/dependencies.py
Due: none

feat(mcp-interpreter): Add Dockerfile - Service 95% complete!
  services/mcp-interpreter/Dockerfile
Due: validate-dockerfiles

docs(mcp-interpreter): Add comprehensive README
  services/mcp-interpreter/README.md
Due: none

feat(mcp-interpreter): Add to docker-compose.dev.yml - 100% COMPLETE! ✅
  docker-compose.dev.yml
Due: validate-ports, validate-env
